<div class="movies">
{{#each model as |movie|}}
<div class="movie" {{action "info"}}>
  <img src="http://localhost:3000/images/posters/{{movie.poster_filename}}">
</div>


{{#if isExpanded}}
  <div class="body">
         <h2>{{movie.title}} </h2>
         {{movie.release_date}}
         <br>
         {{movie.overview}}
         <br>
         {{movie.inventory}}
         <br>
         {{movie.poster_filename}}
         {{movie.createdAt}}
         {{movie.updatedAt}}
     </div>
{{/if}}


{{/each}}
</div>


<button {{action 'previous'}}>Previous Page</button>

<button {{action 'next'}}>Next Page</button>
